name: Deploy to Staging

on:
  push:
    branches:
      - stg

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STG_EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.STG_EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/fz99-lounge
            git pull origin stg
            sudo docker compose -f compose.yaml -f compose.aws.yaml --env-file .env.stg up -d --build
            sudo docker compose -f compose.yaml -f compose.aws.yaml exec -T api npx prisma migrate deploy
